* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Poppins;
    color: #fff;
}
:root {
    --bckColor: hsl(0, 100%, 74%);
    --btnColor: hsl(154, 59%, 51%);
    --trialBtn: hsl(248, 32%, 49%);
    --agreement: hsl(246, 25%, 77%)

}
body {
    background-image: url("../images/bg-intro-desktop.png") ;
    background-color: var(--bckColor);
    background-position: center;
    background-size: cover;

}

main {
    
    display: flex;
    width: 100%;
    min-height: 75vh;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.content {
    width: 45%;
    margin: auto;
    padding: 5px;
    text-align: justify;

   
}

.subContent {
    margin: auto;
    padding: -30px;
    font-size: 2.2rem;
    margin-bottom: -10px;
}

.subContent > p {
    margin-top: -10px;
}

.secondContent {
    width: 45%;
    margin: auto;
    padding: 10px;

    
}



.trial {
    text-align: center;
    /* border: 1px solid; */
    height: 4rem;
    padding: 1.2rem;
    border-radius: 5px;
    background-color: var(--trialBtn);
    margin-bottom: 15px;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 175, 0.2);
    
}

.trial > p > subscription {
    font-weight:lighter;
}

form {
    border: 1px solid;
    margin: auto;
    padding: 5px;
    background-color: white;
}

form > p {
    text-align: center;
}

input {
    width: 90%;
    height: 3.5rem;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: #000;
    border: 1px grey lighter;
    
}

input::placeholder {
        visibility:hidden;
        padding-left: 10px;
    }

input:focus {
    outline: none;
}
label {
    display: block;
    float: right;
    margin-right: 23px;
    font-size: small;
    color: red;
    margin-top: 0.2rem;
}

[class="submitBtn"] {
    border: none;
    background-color: var(--btnColor);
    box-shadow: 0px 5px 0px 0px rgba(0, 255, 0, 0.3);
}

[class="terms-and-agreement"] {
    font-size:smaller;
    color: var(--agreement);
    text-align: center;
}

[class="terms-and-agreement"] > span {
    color: red;
}

@media screen and (min-width:769px
) and (max-width:900px) {
    
    
    main {
    display: flex;
    width: 100%;
    min-height: 75vh;
    margin: auto;
    margin-top: 15%;
   
    }

    .content {
    width: 45%;
    height: 400px;
    margin: auto;
    padding: 5px;
    border: none;
    
    }

    .content > p {
        font-size: 1.2rem;
    }
    .subContent {
    margin: auto;
    font-size: 1.5rem;
    margin-bottom: -10px;
    }
    
    .trial {
        font-size: smaller;
        padding: 1.3rem;
    }

    input {
        border: 1px grey lighter;
    }
    input::placeholder {
        visibility: visible;
    }


}


@media screen and (max-width:768px) {
         
    main {
    display: flex;
    width: 100%;
    min-height: 75vh;
    margin: auto;
    margin-top: 15%;
   
    }

    .content {
    width: 45%;
    height: 350px;
    margin: auto;
    padding: 5px;
    border: none;
    
    }
    
    .content > p {
        font-size: 1.2rem;
    }

    .trial {
        font-size: smaller;
        padding: 1.3rem;
    }
    .subContent {
    margin: auto;
    font-size: 1.5rem;
    margin-bottom: -10px;
    }
    
    
    input::placeholder {
        visibility: visible;
    }
}

@media screen and (min-width:320px) and (max-width:470px) {
    
    body {
        background-image:url(../images/bg-intro-mobile.png);
        
    }
    
    main {
        display: block;
    }

    .content {
    width: 100%;
    margin: auto;
    margin-top: 10px;
 

    }

    .content > p {

    text-align: center;
    font-size: 1.1rem;
    
    }
    .subContent {
    text-align: center;
    }

    .secondContent {
    width: 100%;
    margin-bottom: 70px;
    margin-top: -80px;
   
    }

    .trial {
        font-size: medium;
        padding: 1rem;
        height: 5rem;
    }

    input {
        border-radius: 10px;
    }

    label {
        visibility: hidden;
        margin-top: 0rem;
    }

    [class="terms-and-agreement"] {
        color: var(--agreement);
        text-align: center;

}
}